:root {
  /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    
        @author McKilla Gorilla
    */
  --swatch-foundation: #eeeedd;
  --swatch-primary: #e6e6e6;
  --swatch-complement: #e1e4cb;
  --swatch-contrast: #111111;
  --swatch-accent: #669966;
  --swatch-status: #123456;
  --my-font-family: "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
  height: 90vh;
}

#root {
  background-color: var(--swatch-primary);
  font-family: "Lexend Exa";
  position: absolute;
  width: 80%;
  left: 10%;
  height: 90%;
  top: 10%;
}

#app-root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

#playlist-banner {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 10%;
  float: left;
  background-image: linear-gradient(to bottom, #b8b808, #636723);
  color: white;
  font-size: 48pt;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
}
#splash-screen {
  background-image: linear-gradient(to bottom, #b4b4b4, #48488f);
  font-size: 5vw;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding-left: 7%;
  padding-top: 5%;
  padding-bottom: 5%;
  height:70%;
  text-align: center;
  vertical-align: center;
}

#splash-screen-logo {
  font-size: 60%;
  color: rgb(174, 31, 31);
  text-align: left;
}

h1 {
  color: rgb(43, 23, 23);
  font-size: 70%;
  padding-right: 7%;
  margin-bottom: 6%;
}

p {
  font-size: 40%;
  padding-right: 7%;
  margin-bottom: 5%;
}

.button {
  position: relative;
  top: 8%;
  background-color: #6666b4;
  border: 1px solid lightblue;
  border-radius: 5px;
  margin-right: 10%;
  font-size: large;
}

#edit-toolbar {
  background-color: transparent;
  float: right;
}

.playlister-button,
.playlister-button-disabled {
  font-size: 36pt;
  border-width: 0px;
  float: left;
  color: black;
  cursor: pointer;
  opacity: 100%;
}

.playlister-button:hover {
  cursor: pointer;
  color: black;
}

.playlister-button-disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

#playlister-statusbar {
  position: absolute;
  left: 0%;
  top: 90%;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36pt;
}

#playlister-footer {
  position: absolute;
  left: 0%;
  top: 92%;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36pt;
}

#list-selector-heading {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 70%;
  height: 10%;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-list-button {
  float: left;
}

#container {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 75%;
  display: flex;
}

#container-left-side {
  width: 120%;
  overflow: scroll;
  background-color: red;
  border-radius: 20px;
  position: relative;
}

#container-right-side {
  width: 100%;
  border-radius: 20px;
  background-color: red;
}

#player-controller {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 40%;
  height: 50px;
  left: 56%;
  bottom: 5%;
  border-radius: 20px;
  background-color: white;
}

#unexpand-box1 {
  width: 50%;
}

#unexpand-box2 {
  width: 50%;
  position: relative;
}

#expand-box1 {
  height: 15%;
  width: 100%;
}

#expand-box2 {
  height: auto;

}

#expand-box3 {
  height: 15%;
  position: absolute;
}

#list-card-title {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-left: 10px;
}

.list-card,
.selected-list-card,
.unselected-list-card {
  font-size: 18pt;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
}

.list-card:aria-disabled,
.list-card[aria-disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

.unselected-list-card:hover {
  cursor: pointer;
  background-color: var(--swatch-contrast);
  color: white;
}

.selected-list-card {
  background-color: var(--swatch-accent);
  color: white;
}

.unselected-list-card {
  background-color: var(--swatch-complement);
}

.list-card-button {
  float: right;
  transform: scale(1);
}

#workspace-home,
#workspace-edit {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

#edit-numbering {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 20%;
  height: 100%;
  background-color: var(--swatch-status);
}

#edit-items {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 80%;
  height: 100%;
  background-color: var(--swatch-primary);
}

.item-number,
.top5-item,
.top5-item-dragged-to {
  display: flex;
  align-items: center;
  font-size: 48pt;
  height: 20%;
}

.item-number {
  justify-content: center;
  width: 100%;
  border: 1px 0px 1px 1px;
  border-color: black;
  background-color: linen;
  color: black;
}

input {
  font-size: 20pt;
}

.top5-item,
.top5-item-dragged-to {
  text-align: left;
  width: 95%;
  padding-left: 5%;
}
.top5-item {
  background-color: var(--swatch-complement);
}
.top5-item-dragged-to {
  background-color: var(--swatch-accent);
}

.disabled {
  background-color: lightgray;
}

.disabled:hover {
  color: var(--swatch-neutral);
}

/* THIS STYLE SHEET MANAGES STYLE FOR OUR MODAL, i.e. DIALOG BOX */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black);
  color: var(--swatch-text);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  font-family: var(--font-primary);
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-root {
  position: relative;
  max-width: 1200vw;
  max-height: 600vh;
  overflow: visible;
  display: flex;
  flex-direction: column;
  background: var(--swatch-complement);
  cursor: default;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  box-shadow: 5px 10px #888888;
}

.modal-root > * {
  padding: 1rem;
}

.modal-north {
  font-size:28pt;
  font-weight: bold;
  background-color: #669966;
  color:white;
}

.modal-center {
  display: grid;
  grid-template-columns: 30% 65%;
  grid-template-rows: 33% 33% 33%;
  gap: 10px 20px;
  font-size: 20pt;
}

span {
  font-weight: bold;
  font-style: italic;
}

.modal-south {
  display:flex;
  flex-direction: row;
  background-color: lightgray;
  align-items: center;
  justify-content: center;
}

.modal-center-content {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.modal-prompt {  
  font-size:20pt;
  font-weight: bold;
}

.modal-textfield {
  font-size:20pt;
}

.modal-button {
  font-size: 20pt;
}

#title-prompt {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#edit-song-modal-title-textfield {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#artist-prompt {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#edit-song-modal-artist-textfield {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#you-tube-id-prompt {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#edit-song-modal-youTubeId-textfield {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.confirm-cancel-box {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-button {
  margin:5px;
}

.modal p + p {
  margin-top: 1rem;
}

/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[data-animation] .modal-dialog {
  opacity: 0;
  transition: all 0.5s var(--bounceEasing);
}

[data-animation].is-visible .modal-dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .modal-dialog {
  transform: translateY(100%);
}

[data-animation="slideInOutTop"] .modal-dialog {
  transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .modal-dialog {
  transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .modal-dialog {
  transform: translateX(100%);
}

[data-animation="zoomInOut"] .modal-dialog {
  transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .modal-dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .modal-dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .modal-dialog,
[data-animation="slideInOutTop"].is-visible .modal-dialog,
[data-animation="slideInOutLeft"].is-visible .modal-dialog,
[data-animation="slideInOutRight"].is-visible .modal-dialog,
[data-animation="zoomInOut"].is-visible .modal-dialog,
[data-animation="rotateInOutDown"].is-visible .modal-dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(0);
  }

  20% {
    transform: rotate(20deg);
  }

  30% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(10deg);
  }

  70% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
